:root{
    :root {
    --bg-primary: #ffebf0;

    --bg-surface: #ffffff;
    --bg-hover: #ffc2d1;

    --text-primary: #7f1d1d;
    --text-secondary: #9f1239;

    --accent-primary: #ff8da1;
    --accent-light: #ffe4e8;

    --border-color: #7f1d1d;

    --shadow-sm: 2px 2px 0 var(--text-primary);
    --shadow-md: 4px 4px 0 var(--text-primary);


}

}
.icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-surface);
    border: 2px solid var(--border-color);
    color: var(--text-primary);
    width: 40px;
    height: 40px;

    cursor: pointer;
    box-shadow: var(--shadow-sm);
    transition: 0.1s;
}

.icon-btn:hover {
    background-color: var(--accent-primary);
    color: white;
    transform: translateY(-2px) translateX(-2px);
    box-shadow: var(--shadow-md);
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px 16px;
    color: var(--text-secondary);
    text-decoration: none;
    transition: 0.1s;
    font-weight: 700;
    border: 2px solid transparent;
}

.nav-item:hover {
    background-color: var(--bg-hover);
    color: var(--text-primary);
    border: 2px solid var(--border-color);
    box-shadow: var(--shadow-sm);
}

.nav-item.active {
    background-color: var(--accent-light);
    color: var(--text-primary);
    border: 2px solid var(--border-color);
    box-shadow: var(--shadow-sm);
}

@media (max-width: 768px) {
    .btn{
        display: none;
    }
}